<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Home Stay</title>
</head>
<body>
    <h2>To Edit Home Stay Enter Details:</h2>
    <form method="POST" action="/Listings/<%= HomeStayData._id %>?_method=PUT">
        <input type="text" name="listing[title]" value="<%= HomeStayData.title %>" id="title"/><br/><br/>
        <textarea name="listing[description]" id="description"><%= HomeStayData.description %></textarea><br/><br/>
        <input type="text" name="listing[price]" value="<%= HomeStayData.price %>" id="price"/><br/><br/>
        <input type="text" name="listing[location]" value="<%= HomeStayData.location %>" id="location"/><br/><br/>
        <input type="text" name="listing[country]" value="<%= HomeStayData.country %>" id="country"/><br/><br/>
        <input type="text" name="listing[image]" value="<%= HomeStayData.image.url %>" id="image"/><br/><br/>
        <button>Submit</button>
    </form>
</body>
</html>